*{
    box-sizing: border-box;/*makes the size(width & height) of all 
    elements(*)...
    to be apart of the content,padding, and border
    ex: width(now) = content + padding + border;
    width(before)AKA:box-sizing:content-box/Default
    = width +(Padding & Border)
    P.S. Allows for more controllable size and responsiveness!*/

    /*Reset all elements as well as far as spacing:*/
    margin:0;
    padding:0;
}

body{
    font-family: 'Alfa Slab One', serif, 'Times New Roman', Times;
    font-size:20px;
    /*line-height--sets the distance between lines of text.*/
    line-height:1.7;
    color:rgba(36, 2, 72, 0.659);
    background-image:linear-gradient(rgb(149, 130, 255),rgb(0, 255, 115)); 
    

}

img{
    /*max-width: sets the maximum width of an element. It prevents the used value of the width property from becoming larger than the value specified by max-width.
    --sounds good for responsiveness*/
    max-width:100%; /*of it's parent(div class container)*/
}

.cointainer{
    max-width:1100px; /*so width ccan;t get any bigger than this*/
    /*place all containers in the middle*/
    margin-top:0;
    margin-bottom:0;
    margin-left: auto;
    margin-right: auto;
    /*AKA: margin: 0 auto;*/
}